* {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

html, body, div, p {
  color: #fff;
}

body {
  background-color: #000000;
  font-family: 'Garnett', sans-serif;
}

/* animate */
.animate-delay-100 {
  animation-delay: .1s
}
.animate-delay-200 {
  animation-delay: .2s
}
.animate-delay-300 {
  animation-delay: .3s
}
.animate-delay-400 {
  animation-delay: .4s
}
.animate-delay-500 {
  animation-delay: .5s
}
.animate-delay-600 {
  animation-delay: .6s
}


/* additional css */

.w-55per {
  width: 55%;
}

.w-45per {
  width: 45%;
}
.-z-1{
  z-index: -1;
}
.hide-reveal {
  display: none;
}
.underline-animation {
  height: 1px;
  margin-top: -2px;
  background-color: white;
}

a:hover .underline-animation {
  background-color: #fff;
  animation: load ease-out forwards 0.5s;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


h2 {
  font-size: 36px;
  line-height: 43px;
}

header {
  background-color: transparent;
}

header .open-navigation-btn,
header .header-logo {
  height: 45px;
}
header .header-logo img,
header .open-navigation-btn img {
  height: 45px;
  width: 100%;
}

body main {
  height: 100vh;
}

body nav #navigation {
  background-color: rgba(0,0,0,.85);
  box-sizing: border-box;
}

.nav-link {
  font-family: 'Garnett', sans-serif;
  /* display: block; */
  font-size: 36px;
  /* font-style: italic; */
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.bck-opacity {
  background-color: rgba(0,0,0,.45)
}

.cover-image{
  background-position: center center;
  background-size: cover;
}
.bck-image {
  background-position: center center;
  background-size: cover;
}

/*  --------------------------  */
/*    H  O  M  E  P  A  G  E    */
/*  --------------------------  */


#homepage .cover-image,
#about .cover-image{
  background-image: url('/img/Homepage.jpg')
}


/*  -----------  */
/*    F O O D    */
/*  -----------  */

#food h2 {
  letter-spacing: 0.08em;
}

#food p {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.08em;
  text-transform: lowercase;
}


/*  ---------------------------  */
/*      O  M  A  K  A  S  E      */
/*  ---------------------------  */

#omakase .cover-image{
  background-image: url('/img/Omakase.jpg')
}

#omakase .section {
  /* screen - nav height + margins */
  height: calc(100vh - 180px);
}

#omakase .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.08em;
  text-transform: lowercase;
}


/*  --------------------------  */
/*    B  E  V  E  R  A  G  E    */
/*  --------------------------  */



/*  ---------------------  */
/*      M  U  S  I  C      */
/*  ---------------------  */

#music .section {
  max-width: 440px;
}


/*  -----------------------  */
/*     E  V  E  N  T  S      */
/*  -----------------------  */

#events .bck-image-right,
#events .bck-image-left{
  background-position: center center;
  background-size: cover;
}

#events .bck-image-right {
  background-image: url('/img/Events.jpg');
}
#events .bck-image-left {
  background-image: url('/img/Events2.jpg');
}

#events .events-title,
#reservations .title,
#omakase .title {
  font-size: 36px;
  line-height: 61px;
  letter-spacing: 0.08em;
  text-transform: lowercase;
}

#events .events-text,
#reservations .text  {
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: lowercase;
}

#events .events-title,
#events .events-text {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}


/*  --------------------------------------  */
/*    R  E  S  E  R  V  A  T  I  O  N  S    */
/*  --------------------------------------  */

#reservations .cover-image {
  background-image: url('/img/Reservations.jpg');
}

#reservations .section {
  /* screen - nav height + margins */
  height: calc(100vh - 200px);
}

#reservations .text {
  line-height: 1.45;
}
#reservations .text p {
  padding-top: 24px;
}

#reservations .book-btn {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.08em;
  text-transform: lowercase;
  border: 1px solid white;
  border-radius: 40px;
  padding: 8px 20px;
  margin-top: 32px;
  transition: all 0.3s ease-in-out;
}
#reservations .book-btn:hover {
  background-color: white;
  color: black;
}



@media (min-width: 576px) { 
  .sm\:max-w-55per {
    max-width: 55%;
  }
  .sm\:w-55per {
    width: 55%;
  }
  .sm\:max-w-45per {
    max-width: 45%;
  }
  .sm\:w-45per {
    width: 45%;
  }
  .sm\:-z-1 {
    z-index: -1;
  }
}

@media (min-width: 1480px) { 
  .container {
    max-width: 1440px;
  }
}

@media (min-width: 1681px) { 
  .container {
    max-width: 1536px;
  }
}

@media (max-width: 450px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  body nav #navigation {
    background-color: rgba(0,0,0,1);
  }

  .bck-opacity-sm {
    background-color: rgba(0,0,0,.45)
  }

  .nav-link {
    display: block;
    width: 100%;
    font-size: 28px;
    line-height: 36px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    margin-bottom: 8px;
  }

  .image-section {
    height: 530px;
    max-height: 530px;
  }

  #beverage .bck-image {
    height: 60vh;
    width: 100%;
  }
  
  #music .section .title,
  #beverage .section .title,
  #reservations .section .title,
  #food .section .title,
  #events .title,
  #omakase .section .title{
    font-size: 20px;
    line-height: 28px;
  }

  #music .section .text,
  #music .section .text p,
  #music .section a,
  #reservations .section .text,
  #reservations .section .text p,
  #reservations .section a,
  #food .section .text,
  #food .section a,
  #beverage .section .text,
  #beverage .section a,
  #events .text,
  #omakase .section .text,
  #omakase .section a{
    font-size: 12px;
    line-height: 17px;
  }

  #food img {
    width: 100%;
    height: 100%;
  }

  #events .bck-image-left,
  #events .bck-image-right {
    min-height: 630px;
    height: auto;
  }

  #events .bck-image-right {
    background-position: 66%;
  }

  #reservations .section {
    /* screen - nav height + margins */
    height: calc(100vh - 150px);
  }
}


@keyframes load {
  0% { width: 0%; }
  20% { width: 0%; }
  100% { width: 100%; }
}