* {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

html, body, div, p {
  color: #fff;
}

body {
  background-color: #000000;
  font-family: 'Garnett', sans-serif;
  animation: load ease-in-out forwards 2s;
}


/* -------------- */
/* LOADING SCREEN */
/* -------------- */

#loading-screen {
  position: fixed;
  left: 0; top: 0; right: 0; bottom: 0;
  z-index: 100;
  background: url('/img/Landing\ page.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 8s cubic-bezier(0.25,1.05,1,1);
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

#loading-screen .custom-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* #loading-screen #teaBar, 
#loading-screen #dining {
  background-size: cover;
  background-repeat: no-repeat;
}

#loading-screen #teaBar {
  background-image: url('/img/Pouring\ tea\ -\ About\ Page.jpg');
  background-position: center;
}
#loading-screen #dining {
  background-image: url('/img/Beverage-old.jpg');
  background-position: center 80%;
} */

#teaBar .custom-center,
#dining .custom-center {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  transition: all 0.3s ease-in-out;
}

#teaBar:hover .custom-center,
#dining:hover .custom-center {
  background-color: rgba(0,0,0,.1);
}

#teaBar:hover .arrowUp{
  animation: arrowUp ease-in-out infinite 1s;
}

#dining:hover .arrowDown {
  animation: arrowDown ease-in-out infinite 1s;
}

.z-101 {
  z-index: 101;
}


/* animate */
.animate-delay-100 {
  animation-delay: .1s
}
.animate-delay-200 {
  animation-delay: .2s
}
.animate-delay-300 {
  animation-delay: .3s
}
.animate-delay-400 {
  animation-delay: .4s
}
.animate-delay-500 {
  animation-delay: .5s
}
.animate-delay-600 {
  animation-delay: .6s
}


/* additional css */

.w-55per {
  width: 55%;
}

.w-45per {
  width: 45%;
}

.-z-1{
  z-index: -1;
}
.hide-reveal {
  display: none;
}
.underline-animation {
  height: 1px;
  margin-top: -2px;
  background-color: white;
}

a:hover .underline-animation {
  background-color: #fff;
  animation: loadUnderline ease-out forwards 0.5s;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-overlay {
  background-color: rgba(0,0,0,0.6);
}

.animate__delay-1s {
  --animate-delay: 1s;
}


h2 {
  font-size: 36px;
  line-height: 43px;
}

header {
  background-color: transparent;
  transition: all .5s ease-in-out;
}

header.scrolled {
	background: black;
  transition: all 0.5s ease;
}

header .open-navigation-btn,
header .header-logo {
  height: 45px;
}
header .header-logo img,
header .open-navigation-btn img {
  height: 45px;
  width: 100%;
}


#closeNavBtn:hover {
  animation: customShake ease-in-out forwards 0.5s;
}

.customFadeIn {
  animation: customFadeIn ease-in-out forwards 1s;
}

.customFadeInCloseBtn {
  animation: customFadeInCloseBtn ease-in-out forwards 1.5s;
}

body main {
  min-height: 100vh;
  max-height: max-content;
}
body nav #navigation {
  background-color: rgba(0,0,0,1);
  box-sizing: border-box;
  animation: load ease-out forwards 0.5s;
}

.nav-link {
  font-family: 'Garnett', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-bottom: 14px;
  margin-top: 14px;
  user-select: none;
  color: rgba(255,255,255,0.8);
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #FFF;
}

.bck-opacity {
  background-color: rgba(0,0,0,.45)
}

.cover-image{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-text {
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  max-width: 420px;
}

.footer-informations div{
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
}

.footer-nav-link {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: color 0.3s ease-in-out;
}

.footer-nav-link .underline-animation {
  background-color: transparent;
}

.footer-nav-link:hover {
  color: white
}

.footer-nav-link:hover .underline-animation {
  background-color: #808080;
}

.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}

#yugenWaterMark {
  will-change: transform;
}

#verticalYugen svg path,
#horizontalYugen svg path,
#circleYugen svg path{
  transition: all 0.3s ease-in-out;
}
#yugenWaterMark:hover svg path{
  stroke:rgba(255,255,255,0.4)
}


#about .text p,
#food .text p,
#omakase .text p,
#beverage .text p,
#music .text p {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.08em;
  color:rgba(220, 220, 220)
}

/*  ------------  */
/*    HOMEPAGE    */
/*  ------------  */

#homepage  .cover-image {
  background-image: url('/img/Yugen_HomePage.png');
}

.enter-site {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 100px;
  transform: translate(-50%, -50%);
}

.enter-site a {
  font-size: 16px;
  padding: 8px 48px;
  border-radius: 50px;
  border: 1px solid white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  width: 208px;
  transition: all .3s ease;
}

.enter-site a:hover {
  background-color: #fff;
  color: #000;
}

.book-now,
.email-btn {
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  border: 1px solid white;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  transition: all .3s ease;
  font-weight: 500;
}

.book-now:hover,
.email-btn:hover {
  background-color: #fff;
  color: #000;
}


/*  -----------  */
/*     ABOUT     */
/*  -----------  */

#about .cover-image {
  background-image: url('/img/Yugen_About.png');
}

#about .text p{
  margin-top: 1.5rem;
}



/*  -----------  */
/*      FOOD     */
/*  -----------  */

#food .cover-image {
  background-image: url('/img/Yugen_Food.png');
}

#food .text p {
  margin-top: 1.5rem;
}

#food .custom-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}


/*  -------------  */
/*      OMAKASE    */
/*  -------------  */

#omakase .cover-image {
  background-image: url('/img/Yugen_Omakase.png');
  background-position: center 30%;
}

#omakase .custom-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}



/*  -------------  */
/*     BEVERAGE    */
/*  -------------  */

#beverage .cover-image {
  background-image: url('/img/Yugen_Beverage.jpg');
}

#beverage .text p {
  margin-top: 1rem;
}

#beverage .custom-link {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}


/*  -------------  */
/*      MUSIC      */
/*  -------------  */

#music .cover-image {
  background-image: url('/img/Yugen_Music.png');
}


#music .text p{
  margin-top: 1rem;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-align: left;
}
#music .text h5 {
  margin-top: 1.5rem;
  font-size: 14px;
  letter-spacing: 0.08px;
}


/*  --------------  */
/*      EVENTS      */
/*  --------------  */

#events .page-title{
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.08em;
}

#events .event-image {
  border-radius: 125px;
  overflow: hidden;
  min-height: 400px;
  max-height: 470px;
  width: 697px;
}
#events .event-image img {
  width: 100%;
}

#events .event-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.08em;
}

#events .event-text p{
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: lowercase;
  color: rgba(255,255,255);
}



/*  ------------------  */
/*    PRIVATE DINING    */
/*  ------------------  */

#privatedining .cover-image {
  background-image: url('/img/Yugen_PrivateDining.png');
}

#privatedining .text p{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.08em;
  margin-top: 1rem;
  font-weight: 300;
  color: rgba(225,225,225);
}

#privatedining .text p:last-child{
  margin-top: 3rem;
}

#privatedining .text p a {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.08em;
}


/* ----------- */
/*   CONTACT   */
/* ----------- */

#contact .page-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.08em;
  text-transform: capitalize;
}

#contact .contact-label,
#contact .careers-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

#contact .careers-text {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.08em;
}

#contact .contact-value a {
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.08em;
  color: rgba(255,255,255,0.8);
  transition: color 0.3s ease-in-out;
} 

#contact .contact-value:hover a {
  color:rgba(255,255,255,1)
}

#contact .contact-value a .underline-animation {
  background-color: transparent;
}
#contact .contact-value:hover a .underline-animation {
  background-color: white;
}

#contact .subscribe-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

#contact .subscribe-text {
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.08em;
  color: rgba(255,255,255,0.8);
}

#contact .subscribe-btn {
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 50px;
  border: 1px solid white;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  transition: all .3s ease;
  font-weight: 500;
}

#contact .subscribe-btn:hover {
  background-color: #fff;
  color: #000;
}

#contact .contact-map {
  overflow: hidden;
  border-radius: 24px;
  max-width: 600px;
  height: 450px;
}


/*  ---------------  */
/*    COMING PAGE    */
/*  ---------------  */

#comingsoon .cover-image {
  background-image: url('/img/Yugen_Temp\ Landing\ Page.png');
}

#comingsoon img {
  width: 100%;
}

#comingsoon p {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

#comingsoon h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
}

#comingsoon input {
  border: 1px solid white;
  display: block;
  background-color: transparent;
  padding: 6px;
  outline: none;
}





@media (min-width: 576px) { 
  .sm\:max-w-55per {
    max-width: 55%;
  }
  .sm\:w-55per {
    width: 55%;
  }
  .sm\:max-w-45per {
    max-width: 45%;
  }
  .sm\:w-45per {
    width: 45%;
  }
  .sm\:-z-1 {
    z-index: -1;
  }
}

@media (min-width: 1480px) { 
  .container {
    max-width: 1440px;
  }
}

@media (min-width: 1681px) { 
  .container {
    max-width: 1536px;
  }
}


@media (max-width: 450px) {
  #homepage  .cover-image {
    background-image: url('/img/Yugen_HomePage_mobile.png');
  }

  #about .cover-image {
    background-image: url('/img/Yugen_About_mobile.png');
  }

  #food .cover-image {
    background-image: url('/img/Yugen_Food_mobile.png');
  }
  #omakase .cover-image {
    background-image: url('/img/Yugen_Omakase_mobile.png');
    background-position: center center;
  }
  #beverage .cover-image {
    background-image: url('/img/Yugen_Beverage_mobile.png');
    background-position: center center;
  }
  #music .cover-image {
    background-image: url('/img/Yugen_Music_mobile.png');
  }

  #music .text p{
    margin-top: 1.2rem;
  }
  #privatedining .cover-image {
    background-image: url('/img/Yugen_PrivateDining_mobile.png');
  }

  #circleYugen {
    margin-top: -60px;
  }

  #contact .page-title {
    font-size: 20px;
    line-height: 28px;
  }
  
  #contact .contact-label,
  #contact .careers-title {
    font-size: 16px;
    line-height: 22px;
  }
  
  #contact .careers-text {
    font-size: 16px;
    line-height: 22px;
  }
  
  #contact .contact-value a {
    font-size: 16px;
    line-height: 22px;
  } 


  #contact .subscribe-title {
    font-size: 16px;
    line-height: 22px;
  }
  
  #contact .subscribe-text {
    font-size: 16px;
    line-height: 22px;
  }
  #contact .subscribe-btn {
    font-size: 14px;
  }
}

@media (min-width: 450px) and (max-width: 768px)  {
  #horizontalYugen {
    margin-bottom: -40px;
  }
}

@media (max-width: 768px) {
  /* animations for mobile */

  .animate__fadeInRight,
  .animate__fadeInLeft {
    animation-name: fadeInUp;
  }

  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .nav-link {
    display: block;
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin-bottom: 2px;
    margin-top: 2px;
  }

  .enter-site {
    bottom: 80px;
  }

  .book-now,
  .email-btn {
    font-size: 13px;
  }
  
  .footer-text {
    text-align: center;
    font-size: 12px;
  }

  .footer-logo {
    width: 135px;
  }

  .section-title,
  #events .page-title,
  #events .event-title,
  #events .event-title {
    font-size: 20px;
    line-height: 28px;
  }

  #food .text p,
  #omakase .text p,
  #beverage .custom-text p,
  #music .text p,
  #events .event-text p,
  #privatedining .text p,
  #privatedining .text p a{
    font-size: 12px;
    line-height: 18px;
  }
  #food .custom-link,
  #omakase .custom-link,
  #beverage .custom-link
  #music .custom-link,
  #privatedining .custom-link{
    font-size: 14px;
  }

  #events .event-image {
    min-height: 150px;
    max-height: 170px;
    width: 270px;
    border-radius: 60px;
  }

  #privatedining .text p {
    margin-top: 1rem;
  }

  #privatedining .text p:last-child {
    margin-top: 3rem;
  }

  #verticalYugen svg,
  #horizontalYugen svg,
  #circleYugen svg {
    width: 100%;
  }

  #horizontalYugen {
    width: 185px;
  }

  #circleYugen {
    width: 112px;
  }

  #verticalYugen {
    width: 105px;
  }

  #teaBar .arrowUp{
    animation: arrowUp ease-in-out infinite 1s;
  }
  
  #dining .arrowDown {
    animation: arrowDown ease-in-out infinite 1s;
  }
}

@media (max-width: 1024px) {
  .footer-informations div{
    text-align: center;
    font-size: 16px;
  }
  .footer-text {
    text-align: center;
    font-size: 14px;
  }
  #contact .contact-map {
    max-width: 100%;
  }
}


@keyframes loadUnderline {
  0% { width: 0%; }
  20% { width: 0%; }
  100% { width: 100%; }
}

@keyframes load {
  0% { opacity: 0;}
  100% {opacity: 100%;}
}

@keyframes customFadeInCloseBtn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes customFadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes customShake {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes arrowUp {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes arrowDown {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translate(0px);
  }
}