{% assign current_page = 'about' %}
{% assign page_title = 'About us' %}
{% assign pageUrl = page.path | split: "/" %}

{% include head.html %}

{% include nav.html %}

<main class="cover-image">
    <div class="container mx-auto h-full pt-32 md:pt-60 pb-20 flex flex-col items-end">
      <div class="w-full md:w-2/5 lg:px-6 sm:mt-0">
        <h1 class="section-title mb-8 animate__animated animate__fadeInUp">{{ page.title }}</h1>
        <div class="text lg:pr-4 animate__animated animate__fadeInUp">
          {{ page.text_after_title | markdownify }}

          {% for experience in page.list_of_experiences %}
          <div>
            <h5>{{ experience.experience_title }}</h5>
            {{ experience.experience_text | markdownify}}
          </div>
          {% endfor %}
          <p>
            {{ page.experience_conclusion }}
          </p>
        </div>
      </div>
  </div>
</main>

{% include footer.html %}