{% assign current_page = 'about' %}
{% assign page_title = 'About us' %}
{% assign pageUrl = page.path | split: "/" %}

{% include head.html %}

{% include nav.html %}

<main>
  <div class="cover-image h-screen w-full sm:absolute" style="background-image: url('/img/About.jpeg');"></div>

  <div class="container mx-auto h-full sm:pt-48 pb-20 flex flex-col items-end">
    <div class="w-full sm:w-2/5 sm:px-8 -mt-20 sm:mt-0">
      <h1 class="section-title mb-8 animate__animated animate__fadeInUp">The Yugen Experience</h1>
      <div class="custom-text pr-4 animate__animated animate__fadeInUp">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas egetLorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut 
        </p>
      </div>
    </div>
  </div>
</main>

{% include footer.html %}