{% assign current_page = 'about' %}
{% assign page_title = 'About us' %}
{% assign pageUrl = page.path | split: "/" %}

{% include head.html %}

{% include nav.html %}

<main>
  <div class="cover-image h-screen w-full md:absolute"></div>

  <div class="container mx-auto h-full md:pt-48 pb-20 flex flex-col items-end">
    <div class="w-full md:w-2/5 md:px-8 -mt-60 sm:mt-0">
      <h1 class="section-title mb-8 animate__animated animate__fadeInUp">The Yugen Experience</h1>
      <div class="text pr-4 animate__animated animate__fadeInUp">
        <p>
          Leave the world behind. Descend into a night underground of dining, drinking, and music. Don’t think about
          where you’re going next, you’re already there. Yugen is an immersive experience that announces the comfort
          found in what is, and the possibility of what could be. It’s the new way to say dining after dark. A
          neo-traditional offering influenced by the cultural richness of Asia. Nostalgic tastes told through the
          contemporary, using produce that isn’t just right, but perfect.
        </p>
        <p>
          A subterranean setting to heighten the senses. Eight-metre ceilings, industrial interiors with refined
          details, divided across three distinct areas. A lower dining room offers considered dishes, bold flavours, and
          late nights. Food made memorable by the sizzling accent of umami, and spice. A six-seat, mezzanine Omakase bar
          that fuses tradition with instinct. Let go. Take a journey with Head Chef, Alex Yu, to the familiar with a
          twist. Feel at ease in the warmth of the skilled front of house team led by General Manager, Thibaut
          Chuzeville.
        </p>
        <p>
          Celebrate with friends at the ten seat private booth. Take the ultimate vantage point to see the night ahead
          unfold. Wherever you are amongst us, the night has just begun.
        </p>
        <p>
          Come. Turn up the volume. Express yourself. We’ll see you underground.
        </p>
      </div>
    </div>
  </div>
</main>

{% include footer.html %}