{% assign current_page = 'beverage' %}
{% assign page_title = 'Beverages' %}
{% assign pageUrl = page.path | split: "/" %}

{% include head.html %}

{% include nav.html %}

<main class="cover-image">
  <div class="container mx-auto h-full pt-40 pb-20 flex flex-col items-end">
    <div class="md:w-2/5 md:pl-8">
      <h2 class="section-title mb-6 animate__animated animate__fadeInUp">Philosophy</h2>
      <div class="text pr-4 animate__animated animate__fadeInUp">
        <p>
          Yugen offers beverages that showcase the diverse produce of its dishes. A way to explore the intimately
          intertwined histories of East and West. Discover the depth and breadth of our extensive beverage offering with
          our Consulting Beverage Manager, Ryan Kimball.
        </p>
        <p>
          Using preserving, dehydrating, and fermenting techniques that began in Asian cuisine, Yugen marries modern
          tastes with traditional produce. Shiso vinegar as a drinking shrub. Aromatised plum wine to create a fusion,
          sweet vermouth. Drinks noted by Japanese citrus in place of traditional lemons and limes.
        </p>
        <p>
          An offering influenced by history, interpreted for now. Beverages that tell the stories of tiki drinks in
          Asia, and trace diplomatic relationships. Tastes that admire the past, and look forward to right now.
        </p>
      </div>
    </div>
    <div class="md:w-2/5 md:pl-8 mt-8 md:mt-12">
      <h2 class="section-title mb-6 animate__animated animate__fadeInUp">Sake</h2>
      <div class="text pr-4 animate__animated animate__fadeInUp">
        <p>
          Yugen offers twenty sakes by the glass divided into six, distinct categories. Prefecture to prefecture,
          textured to creamy, savory to robust, lighter to heavier, Junmai to Kijoshu. A tale of sake’s diversity told
          by the expertise of our in-house sake sommeliers. If a glass tempts you towards more, we have 50 by the bottle
          options to share.
        </p>
      </div>
    </div>
    <div class="md:w-2/5 md:pl-8 mt-8 md:mt-12">

      <h2 class="section-title mb-6 animate__animated animate__fadeInUp">Wine</h2>
      <div class="text pr-4 animate__animated animate__fadeInUp">
        <p>
          Our list offers 250 diverse wines that invite harmony and balance to the boldness of our food. Take a journey
          from local to international producers with our sommeliers. Share wines that match and accentuate the eclectic
          palette of our menu.
        </p>
        <p>
          Set off your Omakase experience with a bespoke pairing that focuses on wine, and sake, or a non-alcoholic
          alternative.
        </p>
      </div>
      <div class="flex mt-6 animate__animated animate__fadeInUp animate__delay-1s">
        <a class="custom-link" href="#">
          BEVERAGE LIST
          <div class="underline-animation"></div>
        </a>
      </div>
    </div>
  </div>
</main>

{% include footer.html %}