{% assign current_page = 'comingsoon' %}
{% assign page_title = 'Coming Soon' %}
{% assign pageUrl = page.path | split: "/" %}

{% include head.html %}


<main class="cover-image flex items-center justify-center">
  <div class="">
    <div class="mb-24">
      <div class="mb-6 w-64 mx-auto">
        <img src="/img/logo.svg" alt="yugen logo">
      </div>
      <p>
        DINING
      </p>
      <p>
        LAUNCHING SOON
      </p>
    </div>
    <div class="text-center mb-20">
      <h5 class="mb-4">BOOK your table </h5>
      <div>
        <a href=" https://www.opentable.com.au/r/yugen-dining-reservations-south-yarra?restref=170390&lang=en-AU&ot_source=Restaurant%20website"
          target="_blank" class="book-now animate__animated animate__fadeIn">
          Book now
        </a>
      </div>
    </div>

    <div>
      <h5 class="mb-2">Subscribe to Our Newsletter</h5>
      <p class="w-3/4 mx-auto" style="font-size: 14px">
        We send occasional emails with exclusive offers, news and events.
      </p>
      <div class="mt-8 text-center">
        <a href="https://forms.zohopublic.com.au/omniaportal/form/YugenTeabarNewsletter/formperma/uur9ukIiQEcekhWWqTZOaU2NE7NV1Kgy0exTheLVPZE"
          target="_blank" 
          class="book-now animate__animated animate__fadeIn">
          Subscribe
        </a>
      </div>
    </div>

  </div>
</main>

