{% assign current_page = 'events' %}
{% assign page_title = 'Events' %}
{% assign pageUrl = page.path | split: "/" %}

{% include head.html %}

{% include nav.html %}


<main>
  <div class="container mx-auto min-h-full pt-40 md:pt-48 pb-20">
    <h1 class="page-title mb-20 animate__animated animate__fadeInUp">What’s on at Yugen</h1>

    <!-- event 1 -->
    <div class="flex flex-col md:flex-row items-center justify-center mb-16">
      <div class="md:w-3/5 animate__animated animate__fadeInLeft animate__slow">
        <div class="flex justify-center mx-auto event-image">
          <img src="/img/sake-experience.jpeg" alt="Sake Experience">
        </div>
      </div>
      <div class="md:w-2/5 md:pl-12 md:pr-20 mt-6 md:mt-0">
        <h2 class="event-title mb-8 animate__animated animate__fadeInRight animate__slow">Sake Experience</h2>
        <div class="event-text animate__animated animate__fadeInRight animate__delay-1s">
          <p>
            Omnia Bistro is a vibrant and elegant restaurant which can host lunch events from <br>
            12pm - 4pm or dinner events from 6pm - 10pm. We can comfortably accommodate up to 100 guests for a cocktail
            event and up to 60 guests for a seated event.
          </p>
        </div>
      </div>
    </div>

    <!-- event 2 -->
    <div class="flex flex-col md:flex-row items-center justify-center">
      <div class="md:w-3/5 animate__animated animate__fadeInLeft animate__slow">
        <div class="flex justify-center mx-auto event-image">
          <img src="/img/fathers-day.jpeg" alt="Sake Experience">
        </div>
      </div>
      <div class="md:w-2/5 md:pl-12 md:pr-20 mt-6 md:mt-0">
        <h2 class="event-title mb-8 animate__animated animate__fadeInRight animate__slow">Father’s Day</h2>
        <div class="event-text animate__animated animate__fadeInRight animate__delay-1s">
          <p>
            Omnia Bistro is a vibrant and elegant restaurant which can host lunch events from <br>
            12pm - 4pm or dinner events from 6pm - 10pm. We can comfortably accommodate up to 100 guests for a cocktail
            event and up to 60 guests for a seated event.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>

{% include footer.html %}