{% assign current_page = 'events' %}
{% assign page_title = 'Events' %}
{% assign pageUrl = page.path | split: "/" %}

{% include head.html %}

{% include nav.html %}


<main>
  <div class="container mx-auto min-h-full pt-48 pb-20">
    <h1 class="page-title mb-20">What’s on at Yugen</h1>
    <div class="flex items-center justify-center mb-16">
      <div class="w-3/5">
        <div class="flex justify-center mx-auto event-image">
          <img src="/img/sake-experience.jpeg" alt="Sake Experience">
        </div>
      </div>
      <div class="w-2/5 pl-12 pr-20">
        <h2 class="event-title mb-8">Sake Experience</h2>
        <div class="event-text">
          <p>
            Omnia Bistro is a vibrant and elegant restaurant which can host lunch events from <br>
            12pm - 4pm or dinner events from 6pm - 10pm. We can comfortably accommodate up to 100 guests for a cocktail
            event and up to 60 guests for a seated event.
          </p>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <div class="w-3/5">
        <div class="flex justify-center mx-auto event-image">
          <img src="/img/fathers-day.jpeg" alt="Sake Experience">
        </div>
      </div>
      <div class="w-2/5 pl-12 pr-20">
        <h2 class="event-title mb-8">Father’s Day</h2>
        <div class="event-text">
          <p>
            Omnia Bistro is a vibrant and elegant restaurant which can host lunch events from <br>
            12pm - 4pm or dinner events from 6pm - 10pm. We can comfortably accommodate up to 100 guests for a cocktail
            event and up to 60 guests for a seated event.


          </p>
        </div>
      </div>
    </div>
  </div>
</main>

{% include footer.html %}