{% assign current_page = 'food' %}
{% assign page_title = 'Food' %}
{% assign pageUrl = page.path | split: "/" %}

{% include head.html %}

{% include nav.html %}

<main class="cover-image" title="Food">
  <div class="container mx-auto h-full pt-32 md:pt-48 pb-20 flex flex-col items-end">
    <div class="md:w-2/5 lg:px-8 mb-8">
      {% for section in page.food_sections %}
      {% if forloop.index == 1 %}
        <div class="mb-12">
      {% else %}
        <div class="mb-8">
      {% endif %}
        <h2 class="section-title mb-6 animate__animated animate__fadeInUp">
          {{ section.section_title }}
        </h2>
        <div class="text pr-4 animate__animated animate__fadeInUp">
          {{ section.section_text | markdownify}}
        </div>
      </div>
      {% endfor %}
      <div class="flex animate__animated animate__fadeInUp animate__delay-1s">
        <span class="custom-link">
          {{ page.culinary_signature }}
        </span>
      </div>
      {% for menu in page.menus %}
      <div class="flex mt-6 animate__animated animate__fadeInUp animate__delay-2s">
        <a class="custom-link" target="_blank" href="{{ menu.pdf_file }}">
          {{ menu.menu_title }}
          <div class="underline-animation"></div>
        </a>
      </div>
      {% endfor %}
    </div>
    </div>
  </div>
</main>

{% include footer.html %}