{% assign current_page = 'homepage' %}
{% assign page_title = 'Welcome' %}
{% assign pageUrl = page.path | split: "/" %}

{% include head.html %}

{% include nav.html %}

<main class="cover-image relative">
  <div class="enter-site animate__animated animate__fadeInUp">
    <a href="/about">
      Enter Site
    </a>
  </div>

  <div id="homepage-popup" class="absolute top-0 left-0 right-0 bottom-0 flex items-center justify-center hidden">
    <div class="homepage-popup-modal">
      <div class="flex items-center justify-end">
        <div id="closeHomepagePopup" class="p-2 rounded-full cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>        
        </div>
      </div>

      <div class="text-center px-2 md:px-20">
        <h2 class="mb-12">
          SUBTERRANEAN NEW YEAR’S EVE LIKE NO OTHER
        </h2>

        <p>
          Guests will indulge in  a multi-sensory experience featuring live music and performers, some of Melbourne’s finest DJ’s including Greg Sara & De Saint spinning throughout the night, a dazzling Champagne tower and much, much more. The event includes an extensive beverage package of signature cocktails, wines, beer, premium spirits and sparkling wine. During the night there will be an impressive canape service that highlights Yūgen’s favourite dishes, memorable & rich flavours.
        </p>
        <p>
          Dress to impress and see you underground.
        </p>
        <br>
        <p>
          31st December 2022
          <br>
          605 Chapel street, South Yarra
          <br>
          8:30PM - 1AM
          <br>
          Tickets $345pp
          <br>
          Bookings essential, tickets are limited.
        </p>

        <div class="my-12">
          <a 
          href="https://www.opentable.com.au/restref/client/specials?restref=170390&ref=10813&lang=en-AU&corrid=ae28777c-220d-4fe2-b9b4-ede29f35a9fb"
          class="book-now animate__animated animate__fadeInRight animate__delay-1s"
        >
          Book now
        </a>
        </div>
      </div>
    </div>
  </div>
</main>

{% include footer.html %}