{% assign current_page = 'music' %}
{% assign page_title = 'Music' %}
{% assign pageUrl = page.path | split: "/" %}

{% include head.html %}

{% include nav.html %}

<main class="cover-image" style="background-image: url('/img/Music.jpeg');">
  <div class="container mx-auto h-full pt-40 pb-40 flex flex-col items-end justify-center">
    <div class="w-2/5 pr-20">
      <h2 class="section-title mb-6 animate__animated animate__fadeInUp animate__delay-1s">Private Dining & Events</h2>
      <div class="custom-text pr-4">
        <p class="font-light text-sm leading-5 animate__animated animate__fadeInUp animate__delay-1s">
          At Yugen, you don’t need to think about where to continue the party after dinner, because you’re already here.
          The space between the buzz of dinner and the lights turning on at a bar is filled with seasonal cocktails and
          live DJs. The less you have to think about having fun, the more fun there is to be had.
        </p>
        <p class="font-medium text-base leading-7 mt-6 animate__animated animate__fadeInUp animate__delay-1s">
          Live DJ <br>
          Wednesday, Thursday & Sunday <br>
          6:30pm - 0:00am
        </p>
        <p class="font-medium text-base mt-6 animate__animated animate__fadeInUp animate__delay-1s">
          Friday & Saturday <br>
          6:30pm - 2:00AM
        </p>
      </div>
    </div>
  </div>
</main>

{% include footer.html %}
