{% assign current_page = 'music' %}
{% assign page_title = 'Music' %}
{% assign pageUrl = page.path | split: "/" %}

{% include head.html %}

{% include nav.html %}

<main class="cover-image">
  <div class="container mx-auto h-full pt-40 pb-40 flex flex-col items-end md:justify-center">
    <div class="sm:w-3/5 md:w-2/5 md:pr-20">
      <h2 class="section-title mb-6 animate__animated animate__fadeInUp animate__delay-1s">Music</h2>
      <div class="text pr-4 animate__animated animate__fadeInUp animate__delay-1s">
        <p>
          Yugen moves with you. We take it where you want to go. From an unforgettable dinner to a night out, there’s no
          reason to say goodbye. Be here, in the now.
        </p>
        <p>
          Seasonal cocktails meet live DJ’s. Leave it up to us, and we’ll make it a night.
        </p>
        <h5 class="uppercase">Live DJ</h5>
        <p>Yugen sets the tempo to your evening with a curated program of acclaimed DJ’s.</p>
        <h5>Wednesday, Thursday, and Sunday from 6:30 PM to 12:00 AM</h5>
        <h5>Friday and Saturday from 6:30 PM to 2:00 AM</h5>
      </div>
    </div>
  </div>
</main>

{% include footer.html %}