{% assign current_page = 'omakase' %}
{% assign page_title = 'Omakase' %}
{% assign pageUrl = page.path | split: "/" %}

{% include head.html %}

{% include nav.html %}

<main class="cover-image">
  <div class="container mx-auto h-full pt-40 md:pt-48 pb-20 flex flex-col items-end">
    <div class="md:w-2/5 md:px-8">
      <h1 class="section-title mb-8 animate__animated animate__fadeInUp">Omakase</h1>
      <div class="text pr-4 animate__animated animate__fadeInUp">
        <p>
          Take a journey. Leave it up to us. Yugen offers you a modern take on tradition. A revering of the past, unbound. A coming together of culinary techniques found in Australia and Japan. An intimate experience at our six-seat, mezzanine bar to entice and provoke the senses. Let our Head Chef, Alex Yu, guide you through an ever evolving Omakase showcase. Memorable dishes made using the highest quality produce to turn first time guests to family. A mutual experience of trust, and discovery, to satisfy what you never knew. We’ll learn who you are, and make this night yours.
        </p>
        <p class="mt-4">
          Head Chef, Alex Yu, delivers Omakase dining with community at its centre. Relationships formed with guests, and producers, to create a memorable experience that is intimate. A showcase of the finest produce from Australia and Japan, sourced without compromise, and tailored specifically for you. 
        </p>
      </div>
      <div class="flex mt-8 animate__animated animate__fadeInUp animate__delay-1s">
        <span class="custom-link">
          ALEX YU - Head Chef
        </span>
      </div>
    </div>
  </div>
</main>

{% include footer.html %}