{% assign current_page = 'privatedining' %}
{% assign page_title = 'Private Dining' %}
{% assign pageUrl = page.path | split: "/" %}

{% include head.html %}

{% include nav.html %}
<main class="cover-image">
  <div class="container mx-auto min-h-screen pt-40 md:pt-48 pb-40 flex flex-col items-end md:justify-center">
    <div class="md:w-2/5 lg:pl-8 lg:pr-20">
      <h2 class="section-title mb-8 md:mb-12 animate__animated animate__fadeInUp">Private Dining & Events</h2>
      <div class="text lg:pr-4 animate__animated animate__fadeInUp animate__delay-1s">
        <p>
          Yugen is open from Wednesday to Sunday, 6:00 PM until late.
        </p>
        <p>
          Dinner reservations are available across two sittings.
        </p>
        <p>
          1st Session — 6:00 PM until 8:00 PM
        </p>
        <p>
          2nd Session — 8:30 PM until late
        </p>
        <p>
          We are closed Monday, Tuesday, and Public Holidays.
        </p>
        <p>
          All Sunday bookings accrue a 10% surcharge.
        </p>
        <p>
          If you are visiting us as a party of eight or more, please get in touch with our reservations team at <a
            href="mailto:info@yugendining.com.au" target="_blank">
            info@yugendining.com.au
          </a> or <a href="tel:+0380808080">
            (03) 8080 8080
          </a>
          between 9pm and 5pm, Tuesday to Saturday
        </p>
      </div>
      <div class="mt-12 lg:mr-20 animate__animated animate__fadeInUp animate__delay-2s">
        <a href="mailto:email@yugen.com.au" target="_blank" class="email-btn animate__animated animate__fadeIn">
          Email us
        </a>
      </div>
    </div>
  </div>
</main>

{% include footer.html %}
