{% assign current_page = 'reservations' %}
{% assign page_title = 'Reservations' %}
{% assign pageUrl = page.path | split: "/" %}

{% include head.html %}

{% include nav.html %}

<main class="cover-image">
  <div class="h-screen flex items-end justify-end pb-8 pt-24 sm:pt-0 px-4 sm:pr-24 sm:mr-20">
    <div class="section bck-opacity w-full sm:w-2/5 py-6 px-8 sm:px-20 animate__animated animate__fadeInUp animate__slow">
      <div class="h-full overflow-y-scroll no-scrollbar">
        <h2 class="title mb-4 animate__animated animate__fadeInUp animate-delay-200 animate__slow">Reservations</h2>
        <div class="animate__animated animate__fadeInUp animate-delay-300 animate__slow">
          <div class="text">
            <p>
              Omnia Bistro is a vibrant and elegant restaurant which can host lunch events from
              12pm – 4pm or dinner events from 6pm – 10pm. We can comfortably accommodate up to 100 guests for a
              cocktail
              event and up to 60 guests for a seated event.
            </p>
            <p>
              You will have a choice of 4 hour cocktail menu or three, four, five course set menu. We have a vast
              variety of
              beverages available for selection. Beverages will be charged on consumption which can include champagne,
              prosecco, sparkling wine, wine, tap beers, cocktails, spirts and non-alcoholic beverages.
            </p>
            <p>
              Minimum spends apply for exclusive use of Omnia and is inclusive of venue hire, food and beverage
              arrangements.
            </p>
            <p>
              For all other enquiries:
            </p>
            <p>
              Omnia large group reservations for up to 10 guests, email 
              <a href="mailto:info@omniabistro.com.au" class="underline">
                info@omniabistro.com.au
              </a>
              
            </p>
            <p>
              Events enquiries at Bromley Event Space, email
              <a href="mailto:events@lkhospitality.com.au" class="underline">
                events@lkhospitality.com.au
              </a>
            </p>
          </div>
          <a href="#" class="book-btn">
            Book
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
{% include footer.html %}